:root {
  --yOffset: 8px;
  --timeout: 200ms;
}

.fade-up-enter {
  opacity: 0;
  transform: translate3d(0, var(--yOffset), 0);
}
.fade-up-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity, transform var(--timeout);
}
.fade-up-exit {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.fade-up-exit-active {
  opacity: 0;
  transform: translate3d(0, var(--yOffset), 0);
  transition: opacity var(--timeout);
}
